__pycache__/Cards.cpython-314.pyc
__pycache__/Game.cpython-314.pyc
__pycache__/GameHolder.cpython-314.pyc
__pycache__/main.cpython-314.pyc
__pycache__/myGame.cpython-314.pyc
__pycache__/Players.cpython-314.pyc
